.image-rosbi,
#rosbiTranslation > .image {
    background-image: url("/riocontra-translator/img/rosbi.svg");
}

.image-boba,
#bobaTranslation > .image {
    background-image: url("/riocontra-translator/img/boba.png");
}

.image-chiove,
#chioveTranslation > .image {
    background-image: url("/riocontra-translator/img/chiove.png");
}

.image-supercazzolaro,
#supercazzolaroTranslation > .image {
    background-image: url("/riocontra-translator/img/supercazzolaro.svg");
}

#advancedSettingsTranslation > .image {
    background-image: url("/riocontra-translator/img/advancedSettings.png");
}