#rosbiTranslation > .image {
    background-image: url("/img/rosbi.svg");
}

#bobaTranslation > .image {
    background-image: url("/img/boba.png");
}

#chioveTranslation > .image {
    background-image: url("/img/chiove.png");
}

#supercazzolaroTranslation > .image {
    background-image: url("/img/supercazzolaro.svg");
}


#advancedSettingsTranslation > .image {
    background-image: url("/img/advancedSettings.png");
}


#output > .container > .image {
    height: 250px;
    max-width: 700px; 
    background-size: auto 250px;
    background-repeat: no-repeat;
    background-position: bottom left;
}

#output > .container > .image > .comics-speech {
    vertical-align: top; 
    margin-left: 250px;
}


#output > .container > .image > .comics-speech > div{
    overflow: auto; 
    max-height: 100px;
}

/*Override bootstrap style */
.close {
    font-size: 1em;
    font-weight: bolder;
}


@media (max-width: 767px) {
    #output > .container > .image {
        height: 110px;
        background-size: auto 100px;
    }
    
    #output > .container > .image > .comics-speech {
        vertical-align: top; 
        font-size: small;
        margin-left: 110px;
    }
    
    
    #output > .container > .image > .comics-speech > div{
        overflow: auto; 
        max-height: 75px;
    }
}