.comics-content {
    overflow: auto;
}

#output > div > img {
    width: 250px;
    float: left; /* bring comics up at the right */
}

#output > div > .comics-speech > {
    vertical-align: top; /* bring comics at the top */
    margin: 0;
}

#output > div > .comics-speech > .comics-content {
    max-width: 350px;
    max-height: 100px;
}


@media (max-width: 992px) {
    #output > div > img {
        padding-top: 100px;
        width: 75px;
    }
    
    #output > div > .comics-speech > .comics-content {
        max-width: 160px;
        max-height: 100px;
    }
}


#output > #chioveTranslation > img {
    margin-left: 100px;
    width: 125px;
    margin-right: 50px;
    float: left; /* bring comics up at the right */
}