* {
    box-sizing: border-box;
  }

#input-div {
    margin-top: 15px;
}

#output-div {
    margin-top: 15px;
}

#finalInfo {
    margin-top: 10px;
    font-style: italic;
}

/* buttons stuff */
#buttons {
    margin-bottom: 2px;
}

.btn-level{
    background-color: #9fdfbf;
}

.btn-level.focus, .btn-level:focus{
    background-color: #339966;
    box-shadow: 0 0 0 0.1rem #194d33;
}

/* Ozi button never appear on focus, even after click */
#oziButton:focus {
    background-color: #9fdfbf;
    outline: none;
    box-shadow: none;
}

#oziButton > a{
    text-decoration: line-through;
}

#advancedSettingsButton {
    padding: 0;
    margin-top: 2px;
    margin-bottom: 2px;
}


#header {
    padding: 5px 0;
    background-color:#D3D3D3;
}

#askLevel {
    padding: 3px;
}

#levelSelection {
    background-color: #F5F5F5;
    padding-bottom: 2px;
}

#pageTitle {
    font-weight: 500;
    font-size: x-large;
}

#pageSubTitle {
    font-style: italic;
    text-align: right;
    margin-top: auto;
    margin-bottom: auto;
}

#buttons > .row > .col-lg > .btn {
    margin: 2px 2px;
    width: 100%;
}

#buttons > .row > .col-lg {
    text-align: center;
}

#advancedSettings > section {
    margin-bottom: 10px;
}

#erreMossaSec > .form-check {
    margin-left: 15px;
}

#showCurrentSetting {
    margin-top: 5px;
    font-weight: 500;
}


@media (max-width: 768px) {
    #pageTitle {
        text-align: center;
        font-size: medium;
    }

    #pageSubTitle {
        font-size: medium;
    }

    #askLevel {
        font-size: small;
    }

    #buttons > .row > .col-lg > .btn {
        padding: 1px;
        width: 75%;
    }
    #showCurrentSetting {
        text-align: center;
    }
  }