* {
    box-sizing: border-box;
  }

#input-div {
    margin-top: 15px;
}

#output-div {
    margin-top: 15px;
}

#finalInfo {
    margin-top: 10px;
    font-style: italic;
}

/* buttons stuff */
#buttons {
    margin-bottom: 10px;
}

.btn-level{
    background-color: #9fdfbf;
}

.btn-level.focus, .btn-level:focus{
    background-color: #339966;
    box-shadow: 0 0 0 0.1rem #194d33;
}

/* Ozi button never appear on focus, even after click */
#oziButton:focus {
    outline: none;
    box-shadow: none;
}

#oziButton > a{
    text-decoration: line-through;
}


#header {
    padding: 5px 0;
    background-color:#D3D3D3;
}

#askLevel {
    padding: 3px;
}

#levelSelection {
    background-color: #F5F5F5;
    padding-bottom: 2px;
}

#pageTitle {
    font-weight: 500;
    font-size: large;
}

#pageSubTitle {
    font-style: italic;
    text-align: right;
}

#buttons > .row > .col-lg > .btn {
    margin: 2px 2px;
    width: 100%;
}


@media (max-width: 768px) {
    #pageTitle {
        text-align: center;
    }
  }